@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;300&family=Poppins:wght@100;300;500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del navegador */
.dscto-box {
    background-color: #1cd1b0;
    padding: 0.5em 2em;
    width: 100%;
}

.title-box {
    background-color: #00669f;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 25%);
    padding: 2em;
    width: 100%;
}
/* Estilos de cards */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 100px 0;
}

img {
    width: 100%;
}

.card {
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    height: 550px;
    --translate-image: 82px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.bg-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

#hero-1 {
    background-image: url("../img/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-2 {
        background-image: url("../img/bg2.png");
        background-size: cover;
        background-repeat: no-repeat;
}


.favorite {
    align-self: flex-start;
    width: 25px;
}

.circle-img {
    width: 130px;
    translate: 0 var(--translate-image);
    transition: 0.2s;
}

.card:hover .circle-img {
    scale: 1.2;
}

.card-content {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--translate-image) - 22px);
}

h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

p {
    color: #333333;
}

a {
    background-color:#00669f;
    color: white;
    margin-top: 1.5em;
    padding: 1em 2.5em;
    text-align: center;
    text-decoration: none;
}

/* Estilos del footer */
footer {
    background-color: #00669f;
    width: 100%;
}

footer p {
    color: white;
    padding: 1.5em 2em;
}